<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.css" />

    <script defer src="js/friend.js"></script>

    <!-- <title>Edit <%=friend.name%></title> -->
  </head>
  <body>
    <div class="bg-base-300 navbar-center">
      <div class="btn btn-ghost normal-case text-xl">Edit Friend List</div>
    </div>
  </form>
    <form action="/friends/edit" data-id="<%=friend._id%>">
      <label for="name">
        
        Name:
        
        <input
          class="input input-bordered input-primary w-full max-w-xs"
          type="text"
          name="friendName" 
          id="name"
          value="<%=friend.name%>"
          required
        />
      </label>
      <label for="phone">
        Phone Number:
        <input
          class="input input-bordered input-primary w-full max-w-xs"
          type="text"
          name="phoneNumber" 
          id="phone"
          value="<%=friend.phone%>"
          required
        />
      </label>
      <br>
      <br>
      <button class="btn btn-ghost" type="submit">Update</button>
    </form>
    <br>

        <div class ="editBack">
          <button class="btn btn-ghost" onclick="window.location.href='/friends'">Back to the friends list</button>
        </div>   

  </body>
</html>
