<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You are Not alone.</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="hero min-h-screen" style="background-image: url(https://placeimg.com/1000/800/arch);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
          <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Welcome to Never Alone</h1>
            <p class="mb-5">A simple app that allows us to keep track of social support circle.</p>
            <br>
              <!-- <div class="howItWorks">
              <a class="link" href="">How it works & How to use</a>
              </div> -->
            <br>
            <button onClick="location.href='/login'" class="btn btn-primary">Login</button>
            <button onClick="location.href='/signup'" class="btn btn-primary">Sign Up</button>
          </div>
        </div>
    </div>
</body>
</html>