<%- include('partials/header') -%>

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <!-- the form -->
      <div class="card-body">
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
          <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="alert alert-info"><%= el.msg %></div>
          <% }) %> <% } %>
        <form action="/login" method="POST">
        <div class="form-control">
          <label for="exampleInputEmail1" class="label">
            <span class="label-text">Email address</span>
          </label>
          <input 
          type="email"
          placeholder="email" 
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="email"
          class="input input-bordered" />
        </div>
        <div class="form-control">
          <label for="exampleInputPassword1" class="label">
            <span class="label-text">Password</span>
          </label>

          <input 
          type="password" 
          placeholder="password" 
          class="input input-bordered"
          id="exampleInputPassword1"
          name="password" />

          <label class="label">
            <!-- <a href="#" class="label-text-alt link link-hover">Forgot password?</a> -->
          </label>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Login</button>
        </div>
        <div class="form-control mt-6">
          <a href="/auth/google" class="btn red darken-1">
              <i class="fab fa-google left"></i> Log in with Google
          </a>
      </div>
      </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>